.img-thumbnail{
    height: auto;
    transition: all .15s ease-in-out;
}
body{
    background-color:gray;
}
.img-thumbnail:hover {
    position:relative;
    transform: translate(-50%, -50%);
    transform: scale(1.6); 
    z-index:999;
}
.setimg {
    max-width: 40px;
    max-height: 40px;
}